body, html {
  height: 400px;
  width: 700px;
}

#popup_header {
  font-family: fantasy;
  font-size: 1em;
  color: black;
  justify-content: center;

}

#popup_detail {
  font-family: fantasy;
  font-size: 0.5em;
  color: grey;
  justify-content: center;
}

.emoji_list {
  display: grid;
  grid-gap: 50px;
  justify-content: space-evenly;

}

img.emoji {
  height: 25%;
  width: 25%;
  opacity: 40%;
}

img.emoji.active{
  opacity:100%;
}

img.emoji:hover{
  opacity: 100%;
}

button {
  height: 40px;
  width: 50px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}