body, html {
  height: 650px;
  width: 600px;
  margin:10px auto;
}

#popup_header {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2em;
  color: black;
  text-align: center;

}

#popup_detail {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1em;
  color: grey;
  text-align: center;
}

div.emoji_list {
  margin:auto;
  text-align: center;
}

img.emoji {
  height: 25%;
  width: 25%;
  opacity: 40%;
}

img.emoji.active{
  opacity:100%;
}

img.emoji:hover{
  opacity: 100%;
}
